*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.modal {
    position: fixed;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0,0.6);
   display:none;
}
.modal:target {
    display: block;
  }
.modal .box {
    position: absolute;
    height: 150px;
    width: 400px;
    left: 50%;
    top:50%;
    transform:translate(-50%,-50%);
    background-color: white;
    border-radius: 10px;
}
.modal .box > h2 {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    width:100%;
  }
  .modal .box .close{
      float:right;
      font-size:15px;
      text-decoration: none;
  }
  .modal .content {
    padding: 20px;
  }